.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .form form .MuiFormControl-root {
    margin-bottom: 1rem;
  }
  
  .form form .MuiFormControl-root label {
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .form form .MuiButton-root {
    align-self: flex-end;
  }
  .MuiFormControl-root .Mui-error .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: red !important;
  }
  
  .MuiFormControl-root .MuiFormLabel-root.Mui-error {
    color: red !important;
  }
  
  
  